.leftBar {
  font-size: $def-text-size;
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 237px;
  width: 360px; 
  background: $dark-color;
  color: $white-color;
  display: flex;
  flex-direction: column; 
  input {
    margin: 4px;
  }

  // span, input {
  //   color: $white-color;
  // }
  tr {
    border: 0px solid $white-color;
  }

  .Tabs {
    li {
      background: $def-border-color;
    }
    button {
      padding: 0 10px 4px 10px;
    }
  }
  .tabs-wrapper {
      transition: all .2s;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      position: relative;
      width: 100%;
      min-height: 23px;
      &:hover {
        .close-panel {
          max-height: fit-content;
          .close-panel__item {
            max-width: inherit;
            width: 30px;
            height: 30px;
          }
        }
      }
      .close-panel {
        max-height: 0;
        position: absolute;
        left: 100%;
        top: 0;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 30;

        .close-panel__item {
          max-width: 0;
          top: 0;
          width: 0;
          height: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          cursor: pointer;
          transition: all .2s ease ;
          background: $def-border-color;
          // &:nth-child(2) {
          //   transition: all .6s;
          // }
          // svg {
          //   width: 100%;
          //   height: 100%;
          // }
        } 
      }
      .Tabs {
        flex-basis: 10%;
      }
      .Section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 90%;
        .Section-name {
          flex-basis: 10%;
        }
        .Section__top {
          flex-basis: 10%;
        }
        .Section__bottom {
          flex-basis: 80%;
        }
      }
  }

  .row {
    // overflow-y: scroll;
    margin: 0;
    flex-basis: 98%; 
    .col {
      padding: 0;
    }
  }
  .tabs {
    box-shadow: -10px 5px 20px 0px rgba(0,0,0,0.75);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .indicator {
      display: none;
    }
    .tab {
      line-height: 22px;
      width: auto;
      height: fit-content;
      a {
        font-size: $small-text-size;
        text-transform: capitalize;
        background: $dark-medium-color;
        padding: 0px 15px;
        color: $white-color;
        &:focus {
          background: $menu-btn-vover-color;
        }
      }
      .active {
        background: $menu-btn-vover-color;
      }
    }
  }
}

.rolled {

  overflow: hidden;
  // max-height: 0;
  height: 20px;
  .tabs {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
.unrolled {
  height: 100%;
  .tabs {
    display: flex;
  }
}

