/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1200px) {
  #main {
    .h-100 {
      height: auto !important;
    }
    .extraMt {
      &._30 {
        margin-top: 27px;
      }
    }
    #topMenu,
    .leftBar,
    .chartContainer,
    .bottomMenu,
    table th,
    table td,
    ul,
    p,
    a,
    input,
    textarea,
    button,
    select,
    label {
      font-size: $small-text-size;
    }
    #topMenu {
      .scroll {
        height: 120px;
      }
      .nav-item {
        &__main {
          width: 100%;
          height: 90px;
          flex-direction: row !important;
          align-items: center !important;
          justify-content: center;
          flex-wrap: wrap;
          button {
            font-size: $small-text-size;
          }
          .dropDown {
            button {
              line-height: 12px;
            }
            .dropTarget {
              p {
                margin-left: 4px;
              }
            }
          }
          label,
          .dropDown,
          .dropTarget {
            width: fit-content;
          }
          select {
            width: 100%;
            margin: 0 10px;
          }
          button {
            height: auto;
            justify-content: center;
            align-items: center;
            flex-direction: column !important;
          }
          .dropTarget {
            flex-direction: row !important;
          }
        }
        min-height: 0;
      }
      i,
      svg {
        transition: all 0.2s;
      }
      .fa-4x,
      .fa-3x,
      .fa-2x,
      .fa-1x {
        margin: 3px !important;
        font-size: 2em;
      }
    }
    .leftBar {
      .tabs-wrapper {
        min-height: 20px;
      }

      .rolled {
        height: 20px;
      }
    }
    .leftBar,
    .chartContainer {
      top: 148px;
      bottom: 200px;
    }
    .bottomMenu {
      height: 200px;
      .Tabs {
        .tab {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-height: 800px) {
  #main {
    .leftBar {
      bottom: 200px;
    }
    .bottomMenu {
      .Section {
        overflow: hidden;
      }
      height: 200px;
      bottom: 0;
    }
    .chartContainer {
      bottom: 200px;
    }
  }
}

@media screen and (max-width: 750px) {
  #main {
    .leftBar {
      transition: all 0.2s;
      transform: translateX(-100%);

      // width: 0;
      .swiper {
        width: 30px;
        height: 100%;
        padding: 4px;
      }
    }
    .chartContainer {
      transition: all 0.2s;
      left: 30px;
      //  left: 0;
    }
  }
}

@media screen and (max-height: 600px) {
  #main {
    .bottomMenu {
      transition: all 0.2s;
      height: 0;
      width: 0;
      overflow: hidden;
    }
    .chartContainer,
    .leftBar {
      bottom: 0;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #main {
    .filters {
      &--shown {
        height: -webkit-fill-available;
      }
      .filters-content {
        .filters-content__item {
          flex-wrap: wrap;
        }
      }
    }
    #topMenu {
      .clear-overflow {
        transition: all 0.2s;
        width: 100%;
        background: $dark-color;
      }
      .scroll {
        padding: 5px 0 0 0;
        overflow: hidden;
        height: 88px;
      }
      .nav-item {
        &__main {
          height: 58px;
          max-width: 320px;
        }
        .fa-4x,
        .fa-3x,
        .fa-2x,
        .fa-1x {
          margin: 3px !important;
          font-size: 1.2em;
        }
      }
    }
    .leftBar {
      .close-panel {
        height: 100%;
        .close-panel__item {
          height: 100%;
        }
      }
    }
    .leftBar {
      top: 116px;
    }
    .chartContainer {
      top: 116px;
      text {
        font-size: 9px;
      }
    }
  }
}

@media screen and (max-height: 400px) {
  #main {
    .leftBar {
      width: 0;
    }
    .chartContainer {
      left: 0;
    }
  }
}
