$def-text-size: 14px;
$small-text-size: 12px;
$dark-darker-color: #201b20;
$dark-medium-color: #403740;
$dark-color: #6e666c;
$dark-lighter-color: #8c858a;
$light-darker-color: #c3bec0;
$light-color: #dddadb;
$white-color: #fff;
$black-color: #000;
$def-border-color: #554c54;
$menu-btn-vover-color: #aaa4a7;



