@import "./variables";
@import "./responsive";
@import "../components/menuTop/scss/menuTop";
@import "../components/leftBar/scss/leftBar";
@import "../components/chartContent/scss/chart";
@import "../components/bottomMenu/scss/bottomMenu";
@import "../components/pageNotFound/pageNotfound.scss";
@import "./../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./../../node_modules/normalize.css/normalize.css";
@import "./../../node_modules/pretty-checkbox/src/pretty-checkbox.scss";

body {
  background: $dark-color;
  font-family: "Sans", sans-serif;
  text-align: center;
  overflow: hidden;
}
body.modal-open {
  overflow: hidden;
}

.dropdown,
.btn-group {
  .pretty {
    padding-left: 5px;
    width: 100%;
  }
  .pretty.p-curve .state label:after,
  .pretty.p-curve .state label:before {
    left: 6px;
  }
  .btn-group {
    width: 100%;
    button {
      &:after {
        margin-left: auto;
      }
    }
  }
  // perspective: 400px;
  button {
    margin: 0;
    width: 100%;
    text-transform: capitalize;
    font-size: $def-text-size;
    display: flex;
    padding: 0 1.6rem !important;
    box-shadow: none;
    perspective-origin: center bottom;
    flex-direction: row;
    align-items: center;
    line-height: 16px;
    transition: 0.2s all;
    &:active {
      background: none;
      color: #000;
    }
    &:hover {
      color: $dark-darker-color;
      background: none;
      transform: rotateX(20deg) translateZ(7px) scale(1.05);
    }
  }
  & > :after {
    margin-left: 10px;
  }
  .dropdown-menu {
    z-index: 99;
    padding: 5px;
    button {
      padding: 0 5px;
      width: 100%;
      margin: 4px 0;
      border-radius: 0;
      p {
        text-align: left;
        width: 100%;
      }
    }
    .subDropdown {
      font-size: $def-text-size;
      color: #000 !important;
    }
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  padding: 3px 6px;
  font-size: $small-text-size;
}
.dropdown-content {
  font-size: $small-text-size;
}

.select-wrapper {
  svg {
    fill: $white-color !important;
  }
  input {
    color: $white-color;
  }
}

.longString {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.2em;
  white-space: nowrap;
}

.fa-2x {
  font-size: 20px;
}

.fa-3x {
  font-size: 30px;
}

.fa-4x {
  font-size: 40px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid$dark-lighter-color;
}

.Tabs {
  display: flex;
  margin: 0;
  li {
    background: $dark-color;
  }
  button {
    padding: 4px 10px;
    color: $white-color;
  }
  .activeTab {
    background: $dark-medium-color;
  }
}
.small-screen-menu {
  padding: 0 40px;
  .slick-prev,
  .slick-next {
    padding: 0;
  }
}
ul,
li {
  min-height: 0 !important;
  padding: 0;
  list-style: none;

  button {
    line-height: 20px;
    height: 100%;
    border-radius: 0;
    text-align: left;
    width: 100%;
    background: none;
    color: $dark-darker-color;
  }
}
li:hover {
  button {
    color: $white-color;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $dark-darker-color;
}

nav {
  background: $white-color;
}

input,
textarea,
select {
  background: #403740;
  color: #fff;
  overflow: hidden;
  padding: 4px 15px;
  border-radius: 2px;
  outline: none;
  border: 1px solid $def-border-color;
  z-index: 12;
  font-size: $def-text-size;
  &:hover {
    cursor: pointer;
  }
}

select {
  padding: 4px 15px 4px 0;
  max-width: 120px;
}
select option:checked {
  background: #8c858a;
}

th,
tr,
td {
  padding: 5px;
}
th {
  text-align: start;
}

hr {
  margin: 5px 0;
}

a {
  text-decoration: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  padding: 0;
  margin: 0;
}

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after,
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after,
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid $def-border-color;
}
span {
  color: $white-color;
}

.clsoe {
  position: absolute;
  right: 0;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

button {
  outline: none;
  min-width: 40px;
  border-radius: 5px;
  color: #dddadb;
  background: none;
  border: none;
  box-shadow: none;
  p,
  i,
  svg {
    pointer-events: none;
  }
  i {
    height: auto;
  }
  &:active {
    outline: none;
    background: none;
  }
  &:focus {
    outline: none;
    background: none;
  }
  &:hover {
    background: $def-border-color;
  }
}

input[type="range"] {
  margin: 0;
  -webkit-appearance: none;
  width: 100%;
  padding: 6px 10px;
  border: none;
}

input[type="date"] {
  position: relative;
  height: fit-content;
  width: fit-content;
  max-width: 142px;
  padding-right: 0;
  padding-left: 6px;

  &::-webkit-clear-button {
    cursor: pointer;
    font-size: 14px;
    height: auto;
    position: relative;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    margin-top: -4px;
    margin-bottom: -4px;
    height: auto;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: -4px;
    &:hover {
      background: none;
      color: $white-color;
      cursor: pointer;
    }
    &:active {
      color: $dark-color;
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  background: $white-color;
}

input[type="range"] + .thumb {
  background: $def-border-color;
  color: $white-color;
}

.input-field {
  margin: 0;
  padding: 0;
  height: inherit;
  ul {
    position: fixed;
  }
}

.hidden {
  height: 0;
  width: 0;
  opacity: 0;
}

#main {
  height: 100%;
  width: 100%;
}

.tableTextCenter {
  th,
  tr,
  td {
    text-align: center;
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}
.modal {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  .modal-content {
    padding: 15px;
  }
  .modal-header {
    padding: 0;
  }
  .close {
    margin: 0;
    font-size: 24px;
    padding: 1px 5px;
    min-width: 0;
    background: #000;
    span {
      margin: 0;
      content: "Close";
    }
  }
}

/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark-lighter-color;
}
::-webkit-scrollbar-corner {
  background: $dark-lighter-color;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $dark-medium-color;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: $dark-medium-color;
}

.Section__name {
  color: $white-color;
  padding: 0 15px;
  text-align: left;
  width: 100%;
  height: auto;
  background: $dark-darker-color;
  border: 1px solid $dark-lighter-color;
}

.Section {
  height: 100%;
  .Section__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #554c54;
    .input-field {
      input {
        color: $white-color;
        height: 2rem;
      }
      .helper-text {
        display: none;
      }
    }
  }
}

.filters {
  padding: 2px 5px;
  a {
    margin-right: 10px;
  }
  &--hidden {
    height: 30px;
  }
  &--shown {
    top: 0;
    bottom: 0;
    align-items: flex-start;
    .filters-content__item {
      margin-top: 6px;
    }
  }
  .filters-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    .filters-content__item {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      &:not(:first-child) {
        margin-left: 15px;
      }
      .datepicker {
        margin: 0;
        max-width: 100px;
        text-align: center;
      }
      p {
        max-width: 120px;
        margin-right: 5px;
        white-space: nowrap;
        overflow: hidden;
      }
      .fa-window-close {
        cursor: pointer;
        font-size: 20px;
      }
    }

    .filterDropDown {
      min-width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px 8px;
      border: 1px solid $white-color;
      align-items: center;
    }
  }
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  top: 2px;
  right: 5px;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  top: 2px;
  right: 5px;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 0;
}

.dataTables_wrapper,
.dataTables_scroll,
.table-wrapper-scroll-y {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  table {
    border-spacing: 0px;
    color: $white-color;
    margin: 0;
  }
  .row {
    .col-sm-12 {
      padding: 0;
    }
    &:first-child,
    &:last-child {
      max-height: 0;
      max-width: 0;
      display: none;
    }
    .dataTables_length {
      display: none;
    }
    height: fit-content;
  }

  .dataTables_scrollHeadInner {
    padding-right: 0 !important;
  }
  .table-bordered {
    border: none;
  }
  thead {
    border: none;
    th {
      border: 1px solid $menu-btn-vover-color;
      position: relative;
      &:after,
      &:before {
        top: 5px;
      }
      padding: 4px 5px;
    }
    background: $dark-medium-color;
  }
  tbody {
    background: #dddadb;
    tr {
      &:nth-child(even) {
        background: #6e666c;
      }
      &:nth-child(odd) {
        background: #8c858a;
      }
    }
    td,
    th {
      border: none;
      padding: 3px 4px;
      svg,
      i {
        max-width: 22px;
        max-height: 22px;
      }
    }
    .table-head {
      background: $white-color;
    }
  }
}

.darkTheme {
  tspan {
    fill: #fff;
  }
  .react-stockcharts-tooltip-label {
    fill: #42f5e0;
  }
  background: #403740;
}
.lightTheme {
  background: $white-color;
}
.vertical {
  button {
    flex-direction: column;
    &:after {
      margin: 6px 0 0 0;
    }
  }
}

.multiplySelect {
  input[type="checkbox"]:checked + label {
    background: #6e666c;
  }
  button {
    display: flex;
    white-space: nowrap;
  }
  p {
    overflow: hidden;
    max-width: 100px;
  }
  .dropTarget {
    border-radius: 2px;
    padding: 4px;
    background: #403740;
    &:hover {
      background: #403740;
      color: $white-color;
    }
  }
  ul {
    padding: 5px;
    max-height: 100px;
    overflow-y: scroll;
    li {
      display: flex;
      align-items: center;
      flex-direction: row;
      label {
        flex-basis: 100%;
      }
      input {
        margin-right: 5px;
      }
      &:hover {
        label {
          background: #6e666c;
        }
        background: none;
      }
    }
  }
}

label {
  padding: 2px 10px;
  text-align: left;
  position: relative;
  width: max-content;
  input {
    left: 5px;
    margin-right: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}
// slider styles
.slider:before {
  background: none;
}
.slick-prev,
.slick-next {
  z-index: 30;
  background: rgba(255, 255, 255, 0.6);
  max-width: 13px !important;
  opacity: 0.1;
  border-radius: 0;
  height: 100%;

  &:hover {
    background: $dark-lighter-color;
    opacity: 1;
  }
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-prev:before {
  font-family: FontAwesome;
  content: "\f053";
  padding-right: 3px;
}
.slick-next:before {
  font-family: FontAwesome;
  content: "\f054";
  padding-left: 3px;
}
////
.pretty {
  margin: 6px 0;
  .state {
    width: auto;
    label {
      padding: 0;
    }
  }
}
.pretty.p-switch .state {
  padding-left: 50px;
}
.pretty.p-switch .state label {
  text-indent: 0;
}
.pretty.p-switch .state:before {
  left: 0;
  border: 1px solid #bdc3c7;
  border-radius: 60px;
  width: 40px;
  height: 20px;
  top: -4px;
}
.pretty.p-switch.p-fill input:checked ~ .state:before {
  background: #c3bec0 !important;
}
.pretty .state label:after,
.pretty .state label:before {
  width: 14px;
  height: 14px;
  top: 0;
}
.pretty.p-switch .state label:after {
  left: 3px;
}
.pretty.p-switch.p-fill input:checked ~ .state label:after {
  left: 25px;
}
.p-round {
  // display: inline-flex;
}
